version: "3.0"

# https://hub.docker.com/r/selenium/standalone-firefox
services:
  demo-firefox:
    image: selenium/standalone-firefox:4.40.0-20260202
    ports:
      - "4444:4444"
      - "7900:7900"
    # network_mode: host
