spring:
  application:
    name: spring-cloud-zuul
server:
  port: 8080

zuul:
  routes:
    # 代理上传和下载接口到外部服务
    demo-external-service-api-upload:
      path: /api/v1/upload
      url: http://localhost:18090
      strip-prefix: false
    demo-external-service-api-download:
      path: /api/v1/download/**
      url: http://localhost:18090
      strip-prefix: false
    helloworld:
      path: /api/v1/hello/**
      service-id: helloworld
      strip-prefix: false
    helloworld-without-filter:
      path: /api/v1/helloWithoutFilter/**
      service-id: helloworld
      # 自动截断请求路径前缀/api/v1/helloWithoutFilter
      strip-prefix: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://${eureka_host:localhost}:9999/eureka/