version: "3.0"

services:
  demo-zookeeper:
#    image: zookeeper:3.4.9
    image: zookeeper:3.8.4
    volumes:
      - ./zoo.cfg:/conf/zoo.cfg
    environment:
      - TZ=Asia/Shanghai
      - JVMFLAGS=-Xmx512m -Xms512m -server
      # 禁用 zookeeper AdminServer
      # https://hub.docker.com/_/zookeeper
      - ZOO_ADMINSERVER_ENABLED=false
#    ports:
#      - 2181:2181
    network_mode: host
