- name: "复制deployer"
  hosts: "{{ groups['all'] }}"
  tasks:
    - name: "复制deployer目录到远程"
      copy:
        src: deployer/
        dest: ~/deployer-demo-seata-at

- name: "配置公共服务的deployer"
  hosts: common
  tasks:
    - name: "配置公共服务的seata_ip"
      lineinfile:
        path: ~/deployer-demo-seata-at/common/.env
        regexp: "^seata_ip="
        line: "seata_ip={{ groups['common'][0] }}"

- name: "配置Prometheus服务的deployer"
  hosts: common
  tasks:
    - name: "配置Prometheus服务的prometheus.yml"
      template:
        src: deployer/prometheus/prometheus.yml.j2
        dest: ~/deployer-demo-seata-at/prometheus/prometheus.yml

- name: "配置openresty服务的deployer"
  hosts: openresty
  tasks:
    - name: "配置OpenResty服务的nginx.conf"
      template:
        src: deployer/openresty/nginx.conf.j2
        dest: ~/deployer-demo-seata-at/openresty/nginx.conf
