:root {
    --var-background-color: #202641;
    /* a 元素的字体颜色 */
    --var-el-a-color: #c3f0f7;
    /* a 元素的边界颜色 */
    --var-el-a-border-color: #c3f0f7;
    /* a 元素的背景颜色 */
    --var-el-a-background-color: #c3f0f7;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: "Ambit", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    font-size: 16px;
    background-color: var(--var-background-color);
}

a {
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

nav .container {
    height: 64px;
    box-shadow: inset 0 -1px 0 #565a6f;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo 设置 */
.logo {
    cursor: pointer;
}

.logo {
    display: flex;
}

.logo svg path {
    fill: white;
}

.logo path:nth-last-child(1),
.logo path:nth-last-child(2) {
    fill: red;
}

.left-side-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-side-block {
    display: flex;
    align-items: center;
}

ul.nav-ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    margin-left: 35px;
    color: white;
    cursor: pointer;

    /* position: relative; */
}

ul.nav-ul li {
    /* position: relative; */
    padding: 0 16px;
    display: flex;
    align-items: center;
    gap: 6px;
    height: 62px;
    /* background-color: red; */
}

ul.nav-ul li:hover {
    /* border-top: 4px solid red; */
    box-shadow: inset 0px 3px red;
}

ul.nav-ul li svg {
    transform: rotate(0deg);
}

ul.nav-ul li.expand>svg {
    transform: rotate(180deg);
}

ul.nav-ul li.expand .mask {
    display: block;
}

ul.nav-ul li svg path {
    stroke: white;
}

ul.nav-ul>li>div {
    position: absolute;
    top: 68px;
    left: 0;
    width: 100%;
    /* 拉伸以铺满 viewport 的高度 */
    bottom: 0;
    /* background-color: red; */
}

ul.nav-ul .mask {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.category-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: flex-start;
    /* padding-bottom: 50px; */
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
    /* box-shadow: 0 10px 10px 0 rgba(255, 255, 255, 0.05); */
    background-color: var(--var-background-color);
}

.category-container .category-item {
    margin: 50px 25px;
    flex: 1;
}

.category-container svg {
    width: 35px;
    height: 35px;
    fill: red;
}

.category-container:hover .category-entry:not(:hover) svg {
    fill: rgba(255, 0, 0, 0.5);
}

.category-container .category-title {
    font-size: 20px;
    padding: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.category-container .category-entry {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 25px;
    /* background-color: green; */
}

.category-container:hover .category-entry:not(:hover) {
    color: rgba(255, 255, 255, 0.5)
}

.category-container .category-entry>div:nth-of-type(2)>div {
    padding: 8px 15px;
}

.category-container .category-entry>div:nth-of-type(2)>div:nth-of-type(2) {
    color: rgba(255, 255, 255, 0.5);
}

.category-container:hover .category-entry:not(:hover)>div:nth-of-type(2)>div:nth-of-type(2) {
    color: rgba(255, 255, 255, 0.2);
}

.right-side-block>a {
    padding: 10px 5px;
    color: var(--var-el-a-color);
    margin: auto 5px;
}

.right-side-block>a:nth-child(2) {
    padding: 8px 10px;
    border: 1px solid var(--var-el-a-border-color);
    border-radius: 5px;
}

.right-side-block>a:nth-child(3) {
    color: black;
    background-color: var(--var-el-a-background-color);
    border-radius: 5px;
    padding: 8px 10px;
}

.right-side-block .lang-switch-container>a:nth-last-of-type(1) {
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

.right-side-block .lang-switch-container {
    padding: 10px;
    border-radius: 5px;
}

.right-side-block .lang-switch-container:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.right-side-block .lang-switch-container>a:nth-last-of-type(1) svg:nth-child(1) path {
    /* stroke: white; */
    fill: white;
}

.right-side-block .lang-switch-container>a:nth-last-of-type(1) svg:nth-child(2) path {
    stroke: white;
}

.right-side-block .lang-switch-container {
    opacity: 0.8;
    position: relative;
}

ul.ul-lang-switch {
    display: none;
    position: absolute;
    top: 45px;
    left: -75px;
    border: 1px solid #8b8e9c;
    border-radius: 4px;
    list-style-type: none;
    width: max-content;
    background-color: var(--var-background-color);
}

ul.ul-lang-switch a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.89);
}

ul.ul-lang-switch li:not(:last-child) {
    border-bottom: 1px solid #8b8e9c;
}

ul.ul-lang-switch li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px 10px 16px;
    font-size: 14px;
    font-weight: 400;
}

ul.ul-lang-switch li:hover {
    background-color: #4d5167;
}

ul.ul-lang-switch li svg {
    transform: translateX(30px) scale(1.5);
    fill: #ff3c00;
}

/* main section 1 设置 */
main .container {
    padding-left: 80px;
    padding-right: 80px;
}

main .container .section-1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 60px;
}

main .container .section-1 .left-side {
    flex: 4;
}

main .container .section-1 .right-side {
    flex: 6;
}

main .container .section-1 .right-side img {
    /* 图片填满父布局，为了避免撑开父布局导致排版变形 */
    width: 100%;
}

main .container .section-1 .left-side>div:nth-of-type(1) {
    color: white;
    font-size: 40px;
    padding-bottom: 20px;
}

main .container .section-1 .left-side>div:nth-of-type(2) {
    color: white;
    font-size: 20px;
    padding: 20px 0;
}

main .container .section-1 .left-side>div:nth-of-type(3) {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    padding: 20px 0;
}

main .container .section-1 .left-side>div:nth-of-type(4) {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

main .container .section-1 .left-side>div:nth-of-type(4)>a:nth-of-type(1) {
    border: 1px solid var(--var-el-a-border-color);
    padding: 10px;
    color: var(--var-el-a-color);
    border-radius: 5px;
}

main .container .section-1 .left-side>div:nth-of-type(4)>a:nth-of-type(2) {
    display: flex;
    align-items: center;
    margin-left: 10px;
    background-color: blue;
    border-radius: 5px;
}

main .container .section-1 .left-side>div:nth-of-type(4)>a:nth-of-type(2)>div:nth-of-type(1) {
    background-color: white;
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .container .section-1 .left-side>div:nth-of-type(4)>a:nth-of-type(2)>div:nth-of-type(1)>svg {
    width: 20px;
    height: 20px;
}

main .container .section-1 .left-side>div:nth-of-type(4)>a:nth-of-type(2)>div:nth-of-type(2) {
    color: white;
    margin: 10px;

}

main .container .section-1 .left-side>div:nth-of-type(5) {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
}

/* main section-2 */
main .container .section-2 {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .container .section-2 .title {
    color: white;
    font-size: 30px;
}

main .container .section-2 .scroll-container {
    width: 100%;
    margin-top: 40px;
    overflow: hidden;
    position: relative;
    height: 40px;
}

main .container .section-2 .scroll-container .scroll-element {
    position: absolute;
    width: inherit;
    height: inherit;
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    /* background-color: green; */
    font-weight: bold;
}
main .container .section-2 .scroll-container .scroll-element>div {
    cursor: pointer;
}
main .container .section-2 .scroll-container:hover .scroll-element {
    animation-play-state: paused;
}

main .container .section-2 .scroll-container::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: linear-gradient(90deg, var(--var-background-color), transparent);
    /* background-color: red; */
    width: 300px;
    height: 100%;
    z-index: 1;
}


main .container .section-2 .scroll-container::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    background: linear-gradient(-90deg, var(--var-background-color), transparent);
    width: 300px;
    height: 100%;
    z-index: 1;
}

main .container .section-2 .scroll-container .primary {
    animation: animation-primary 15s linear 0s infinite normal none;
}

main .container .section-2 .scroll-container .secondary {
    animation: animation-secondary 15s linear 0s infinite normal none;

}

@keyframes animation-primary {
    from {
        left: 0%;
    }

    to {
        left: -100%;
    }
}

@keyframes animation-secondary {
    from {
        left: 100%;
    }

    to {
        left: 0%;
    }
}

/* feedback 设置 */
.feedback {
    position: fixed;
    right: 0;
    top: 50%;
    background-color: rgba(255, 0, 0, 0.9);
    border-radius: 0 5px 5px 0;
    padding: 15px 12px;
    color: white;
    transform: rotate(180deg) translate(-3px, 50%);
    font-size: 14px;
    writing-mode: vertical-lr;
    transition: all 0.2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback:hover {
    transform: rotate(180deg) translate(0, 50%);
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.5);
}

.feedback .icon-emotion {
    transform: rotate(90deg);
    margin-bottom: 5px;
}

.feedback .icon-emotion::before {
    content: '\1F4AC';
}

.feedback-submit-panel {
    position: fixed;
    top: 50%;
    right: 20px;
    width: 400px;
    height: 200px;
    background-color: white;
    transform: translateY(-50%);

    font-size: 14px;

    display: none;
}

.feedback-submit-panel .close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    right: 20px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    background-color: #4d5167;
    cursor: pointer;
}

.feedback-submit-panel>div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.feedback-submit-panel .prompt {
    text-align: center;
    width: 250px;
    opacity: 0.8;
    font-size: 16px;
}

.feedback-submit-panel>div:nth-of-type(1) ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.feedback-submit-panel>div:nth-of-type(1) ul:hover {
    /* https://stackoverflow.com/questions/40536101/css-opacity-wont-work-inside-li-on-hover */
    fill: rgba(0, 0, 0, 0.4);
}

.feedback-submit-panel>div:nth-of-type(1) ul li {
    padding: 3px;
}

.feedback-submit-panel>div:nth-of-type(1) ul li>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback-submit-panel>div:nth-of-type(1) ul li>div>div:nth-of-type(2) {
    visibility: hidden;
}

.feedback-submit-panel>div:nth-of-type(1) ul li:hover {
    fill: rgba(0, 0, 0, 1);
}

.feedback-submit-panel>div:nth-of-type(1) ul li:hover>div>div:nth-of-type(2) {
    visibility: visible;
}

.feedback-submit-panel>div:nth-of-type(1) svg {
    width: 30px;
    height: 30px;
}