version: "3.1"

services:
  eureka:
    build:
      context: ./spring-cloud-eureka
      dockerfile: Dockerfile
    image: registry.cn-hangzhou.aliyuncs.com/future-public/demo-zuul-eureka
    environment:
      - JAVA_OPTS=-Xmx512m
      - TZ=Asia/Shanghai
    network_mode: host

  zuul:
    build:
      context: ./spring-cloud-zuul
      dockerfile: Dockerfile
    image: registry.cn-hangzhou.aliyuncs.com/future-public/demo-zuul-zuul
    environment:
      - JAVA_OPTS=-Xmx512m
      - TZ=Asia/Shanghai
      - eureka_host=${eureka_host}
    network_mode: host

  helloworld:
    build:
      context: ./helloworld
      dockerfile: Dockerfile
    image: registry.cn-hangzhou.aliyuncs.com/future-public/demo-zuul-helloworld
    environment:
      - JAVA_OPTS=-Xmx512m
      - TZ=Asia/Shanghai
      - eureka_host=${eureka_host}
    network_mode: host
