<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <springProperty scope="context" name="logstash.url" source="logstash.url" defaultValue=""/>
    <springProperty scope="context" name="applicationName" source="spring.application.name"/>

    <!-- 开发环境启用控制台打印日志 -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- application.properties配置logstash.url后才启用LogstashAppender -->
    <if condition='!property("logstash.url").equals("")'>
        <then>
            <appender name="logstash" class="net.logstash.logback.appender.LogstashAccessTcpSocketAppender">
                <destination>${logstash.url}</destination>
                <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">
                </encoder>
            </appender>
        </then>
    </if>

    <root level="info">
        <appender-ref ref="console"/>
        <if condition='!property("logstash.url").equals("")'>
            <then>
                <appender-ref ref="logstash"/>
            </then>
        </if>
    </root>
    <logger name="com.future.demo" level="debug" additivity="false">
        <appender-ref ref="console"/>
        <if condition='!property("logstash.url").equals("")'>
            <then>
                <appender-ref ref="logstash"/>
            </then>
        </if>
    </logger>
</configuration>