version: "3.0"

services:
  openresty-https:
    image: openresty/openresty
    volumes:
     - ./nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf
     - ./cert.crt:/usr/local/openresty/nginx/conf/cert.crt
     - ./key.pem:/usr/local/openresty/nginx/conf/key.pem
    environment:
      - TZ=Asia/Shanghai
    # ports:
    #   - 80:80
    #   - 82:82
    network_mode: host
