version: "3.0"

networks:
 net:
  name: demo-http-cache-net


services:
 demo-http-cache-openresty:
  image: openresty/openresty:bullseye-fat
  environment:
   - LANG=C.UTF-8
   - TZ=Asia/Shanghai
  volumes:
   - ./nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf
   - ./index.html:/usr/local/openresty/nginx/html/index.html
   - ./1.png:/usr/local/openresty/nginx/html/1.png
   - ./styles.css:/usr/local/openresty/nginx/html/styles.css
   - ./test-expires.js:/usr/local/openresty/nginx/html/test-expires.js
   - ./test-no-store.js:/usr/local/openresty/nginx/html/test-no-store.js
   - ./test-no-cache.js:/usr/local/openresty/nginx/html/test-no-cache.js
  ports:
   - 80:80
