version: "3.0"

services:
  openresty:
    build:
      context: ./
    image: registry.cn-hangzhou.aliyuncs.com/future-public/demo-openresty-base-dev
    volumes:
      - ./nginx.conf:/usr/local/openresty/nginx/conf/nginx.conf:ro
    environment:
      - TZ=Aisa/Shanghai
    ports:
      - '80:80'
