version: "3.0"

networks:
 net:
  name: demo-proxy-cache-net


services:
 backend:
  image: openresty/openresty
  environment:
   - LANG=C.UTF-8
   - TZ=Asia/Shanghai
  volumes:
   - ./backend.conf:/usr/local/openresty/nginx/conf/nginx.conf
  ports:
   - 81:80
  networks:
   - net

 frontend:
  image: openresty/openresty
  environment:
   - LANG=C.UTF-8
   - TZ=Asia/Shanghai
  volumes:
   - ./frontend.conf:/usr/local/openresty/nginx/conf/nginx.conf
   - ./index.html:/usr/local/openresty/nginx/html/index.html
  ports:
   - 80:80
  networks:
   - net

