[mysqld]
max_connections=250
slow_query_log=1
long_query_time=1
slow_query_log_file=slow-query.log
innodb_buffer_pool_size=1024m
innodb_flush_log_at_trx_commit=0
max_allowed_packet=10m
key_buffer_size=512m
innodb_log_file_size=512m
innodb_log_buffer_size=256m
innodb_file_per_table=1
max_binlog_size=512m

log_bin=mariadb-bin
expire_logs_days=10
binlog_format=mixed
max_binlog_size=200m
log_basename=master1
server_id=1

