[mysqld]
slow_query_log=0.01
long_query_time=1
slow_query_log_file=slow-query.log
innodb_flush_log_at_trx_commit=0
innodb_file_per_table=1
innodb_buffer_pool_size=256m
max_connections=1024

# 设置binlog_cache_size用于协助大事务对内存使用率影响
# binlog_cache_size=16m

# join_buffer_size=128m

# 设置sort_buffer_size用于协助分析order by filesort排序对内存使用率影响
# sort_buffer_size=16m
# max_length_for_sort_data=8m

# 用于协助测试temp table对内存使用率影响
# tmp_table_size=128k

# 协助 read_buffer_size 对内存使用率影响
# 注意：read_buffer_size 只对myisam引擎起作用
# https://dev.mysql.com/doc/refman/8.4/en/server-system-variables.html#sysvar_read_buffer_size
# read_buffer_size=16m

# 注意：当sort_buffer_size设置为128k时read_rnd_buffer_size参数才起作用
# read_rnd_buffer_size=16m

# 一旦提供log_bin参数无论是何值或者不提供值时，表示启用binlog功能
# 不提供log_bin表示禁用binlog功能
log_bin
expire_logs_days=10
binlog_format=mixed
max_binlog_size=1024m
# 指定binlog文件的前缀
log_basename=master1
server-id=10001
