<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace= "com.future.demo.mybatis.mapper.DynamicSqlMapper" >
    <resultMap id="empMap" type="com.future.demo.mybatis.entity.EmpModel">
        <id property="id" column="eid"/>
        <result property="name" column="ename"/>
        <result property="age" column="eage"/>
    </resultMap>

    <select id="testWhereIf" resultMap="empMap">
      select * from t_emp
      <where>
          <if test="id!=null and id>0">
              and eid=#{id}
          </if>
          <if test="name!=null and name!=''">
              and ename=#{name}
          </if>
          <if test="age!=null and age>0">
              and eage=#{age}
          </if>
      </where>
    </select>

    <select id="testChooseWhenOtherwise" resultMap="empMap">
        select * from t_emp
        <where>
            <choose>
                <when test="id!=null and id>0 and name!=null and name!='' and age!=null and age>0">
                    and eid=#{id} and ename=#{name} and eage=#{age}
                </when>
                <when test="id!=null and id>0 and name!=null and name!=''">
                    and eid=#{id} and ename=#{name}
                </when>
                <when test="id!=null and id>0">
                    and eid=#{id}
                </when>
                <otherwise>

                </otherwise>
            </choose>
        </where>
    </select>

    <select id="testForeach" resultMap="empMap">
        select * from t_emp where eid in
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <sql id="empColumns">eid,ename,eage</sql>
    <select id="testSqlTag" resultMap="empMap">
        select <include refid="empColumns"></include> from t_emp where eid in
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>